In [11]:
n="pratik"
v="a","e","i","o","u"
count=0
for i in n:
    if  i in v:
        count+=1
print(count)

2

In [33]:
n="123456"
mul=1
for i in n:
    if int(i)%2==0:
        mul*=int(i)
print(mul)

48

In [35]:
n="123456"
div=1
for i in n:
    if int(i)%2==0:
        div/=int(i)
print(div)

0.020833333333333332

In [36]:
n="123456"
sub=1
for i in n:
    if int(i)%2==0:
        sub-=int(i)
print(sub)

-11

In [38]:
n="123456"
add=1
for i in n:
    if int(i)%2==0:
        add+=int(i)
print(add)

13

### Arithematic Operator

In [2]:
## Addition 

a=int(input("enter a"))
b=int(input("enter b"))
c=a+b
print(c)

enter a 3
enter b 3

6

In [4]:
## Substract

a=int(input("enter a"))
b=int(input("enter b"))
c=a-b
print(c)

enter a 4
enter b 3

1

In [5]:
## Multiply

a=int(input("enter a"))
b=int(input("enter b"))
c=a*b
print(c)

enter a 4
enter b 5

20

In [6]:
## Division 


a=int(input("enter a"))
b=int(input("enter b"))
c=a/b
print(c)

enter a 5
enter b 1

5.0

In [7]:
## Float


a=int(input("enter a"))
b=int(input("enter b"))
c=a//b
print(c)

enter a 5
enter b 3

1

In [9]:
## Modules

a=int(input("enter a"))
b=int(input("enter b"))
c=a%b
print(c)

enter a 50
enter b 10

0

In [10]:
## Exponent

a=int(input("enter a"))
b=int(input("enter b"))
c=a**b
print(c)

enter a 4
enter b 3

64

### Comparision Operator

In [12]:
## less than

a=int(input("enter a"))
b=int(input("enter b"))
c=a<b
print("a is less than b")

enter a 5
enter b 10

a is less than b

In [14]:
## Greater than

a=int(input("enter a"))
b=int(input("enter b"))
c=a>b
print("a is greater than b")

enter a 10
enter b 5

a is greater than b

In [16]:
## Lesss than equal to

a=int(input("enter a"))
b=int(input("enter b"))
c=a<=b
print("a is less than equal to b")

enter a 5
enter b 5

a is less than equal to b

In [17]:
## Greater than equal to

a=int(input("enter a"))
b=int(input("enter b"))
c=a>=b
print("a is greater than equal to b")

enter a 10
enter b 5

a is greater than equal to b

In [18]:
## Equal to

a=int(input("enter a"))
b=int(input("enter b"))
if a<=b:
    print("less than eqaual to")
else:
    print("grater than equal to")

enter a 10
enter b 15

less than eqaual to

In [19]:
## Not eqaul

a=int(input("enter a"))
b=int(input("enter b"))
if a<=b:
    print("less than eqaual to")
else:
    print("grater than equal to")

enter a 15
enter b 10

greater than eqaual to

### Logical Operator

In [20]:
## and

a=int(input("enter a"))
b=int(input("enter b"))
c=int(input("enter c"))
d=int(input("enter d"))

if a>b and c>d:
    print("true")
else:
    print("false")

enter a 15
enter b 4
enter c 40
enter d 21

true

In [21]:
## or

a=int(input("enter a"))
b=int(input("enter b"))
c=int(input("enter c"))
d=int(input("enter d"))

if a>b and c<d:
    print("true")
else:
    print("false")

enter a 10
enter b 5
enter c 12
enter d 55

true

### Assignment Operators

In [31]:
## +=

a=int(input("eneter a"))
a += 3 
print(a)

eneter a 5

8

In [33]:
## -=

a=int(input("eneter a"))
a -= 3 
print(a)

eneter a 5

2

In [35]:
## *=

a=int(input("eneter a"))
a *= 3 
print(a)

eneter a 9

27

In [39]:
## /=

a=int(input("eneter a"))
a /= 3 
print(a)

eneter a 99

33.0

In [40]:
## //=

a=int(input("eneter a"))
a //= 5 
print(a)

eneter a 55

11

In [44]:
## %=

a=int(input("eneter a"))
a %= 9
print(a)

eneter a 99

0

In [45]:
## **=

a=int(input("eneter a"))
a **=5
print(a)

eneter a 5

3125

### Identity Operator

In [61]:
## is

x = 257
y = 257
z = x
print(z is y)

False

In [53]:
## is not

a = "hi"
b = "hi"
c = "wwww"
print(a is not b)
print(a is not c)

False
True

### Membership Opeator

In [55]:
## in

## Example with a string
my_list = [10, 20, 30, 40, 50]
print(20 in my_list)  
print(60 in my_list)  

# Example with a string
my_string = "Hello, Python!"
print("Python" in my_string) 
print("Java" in my_string)   
# Example with a tuple
my_tuple = ("apple", "banana", "cherry")
print("banana" in my_tuple) 

# Example with a dictionary (checks for keys)
my_dict = {"name": "Alice", "age": 30}
print("name" in my_dict) 
print("city" in my_dict)

True
False
True
False
True
True
False

In [56]:
## not in


# Example with a list
my_list = [10, 20, 30, 40, 50]
print(60 not in my_list)  
print(20 not in my_list) 

# Example with a string
my_string = "Hello, Python"
print("Java" not in my_string)    
print("Python" not in my_string) 

# Example with a dictionary (checks for keys)
my_dict = {"name": "Alice", "age": 30}
print("city" not in my_dict)  
print("name" not in my_dict)

True
False
True
False
True
False

In [62]:
### Print all multiples of 3 between 1 and 100.

for i in range(1, 101):
    if i % 3 == 0:
        print(i)

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99

In [65]:
### Print the cubes of numbers from 1 to 10.

for i in range(1, 11):
    cube = i ** 3
    print(cube)

1
8
27
64
125
216
343
512
729
1000

In [72]:
### inclusive numner between 50,100

for number in range(50, 101):
    print(number)

50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [74]:
## Given the string "hello world", print each word separately.


n=("hello world")

for i in n:
    print(i)

h
e
l
l
o

w
o
r
l
d

In [101]:
## Print "Python" 5 times using a for loop.

for i in range(5):
    print('python')

python
python
python
python
python

In [90]:
## Print the product (multiplication) of all numbers in the list [2,3,4].

l=[2,3,4]
2*3*4

24

In [99]:
## Count how many uppercase letters are in the stringÂ "PyThoN".


n="PyThoN"
v="A","B","C","D","E","F","G","H","I","J","K","L","M","N","O","P","Q","R","S","T","U","V","W","X","Y","Z"
count=0
for i in n:
    if  i in v:
        count+=1
print(count)

3

In [110]:
## Take a user input and find the difference between the product and sum of digits of a number.

a=int(input("eneter a"))
b=int(input("eneter b"))
c=a+b
print(c)
d=a*b
print(d)
e=c-d
print(e)

eneter a 20
eneter b 20

40
400
-360